@model BAL.Modelos.Configuracion.PerfilXPagXModModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        color: #000000;
        background-color: #c5c5c533;
        border: 1px solid #5aa7ff;
    }
</style>
<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Configuración</a></li>
                <li class="breadcrumb-item"><a href="#">Perfil x Página x Módulo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Crear</li>
            </ol>
        </nav>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Create", "PerfilXPagXMod", FormMethod.Post, new { id = "id" }))
        {
            @Html.AntiForgeryToken()

            <div class="card bg-light mb-3" style="max-width: 100%;">
                <div class="card-header bg-gradient-lightblue" style="text-align:center">
                    <div class="container">
                        <div class="row">

                            <div class="col">
                                INGRESO PERFIL POR PÁGINA POR MÓDULOS
                            </div>

                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="card-body">
                    <div class="col">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <h6>@Html.LabelFor(model => model.IdModulo, htmlAttributes: new { @class = "control-label col-md" })</h6>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-barss"></i></span>
                                        @Html.DropDownListFor(model => model.IdModulo, ViewBag.ListaModulo as SelectList, new { @id = "IdCodModulo", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <h6>@Html.LabelFor(model => model.IdPerfil, htmlAttributes: new { @class = "control-label col-md" })</h6>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-barss"></i></span>
                                        @Html.DropDownListFor(model => model.IdPerfil, new SelectList(" "), "--Seleccione perfil--", new { @id = "IdCodPerfil", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <h6>@Html.LabelFor(model => model.IdPagina, htmlAttributes: new { @class = "control-label col-md" })</h6>
                                    <div class="input-group" id="a">
                                        <span class="input-group-addon" id="listp"><i class="fa fa-barss"></i></span>
                                        @Html.DropDownListFor(model => model.IdPaginaN, new SelectList(" "), "--Seleccione pagina--", new { @id = "IdCodCampo", @class = "form-control select2", @multiple = "multiple" })

                                    </div>
                                </div>

                            </div>
                            <!-- Permisos -->
                            <div class="card " style="margin-bottom:1px;">
                                <a id="cardEncabezado" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionEncabezado" href="#collapseEncabezado" style="text-decoration:none">
                                    <div class="accordion-headermenu">
                                        Lista Páginas
                                    </div>
                                </a>
                                <div id="collapseEncabezado" class="collapsing visible" role="tabpanel" data-parent="#accordionEncabezado">
                                    <div class="accordion" id="accordionEncabezado" style="margin-left:10px;margin-right:10px;">
                                        <div class="card-body">
                                            <br />
                                            <ul data-widget="treeview">
                                                <li><a href="#">One Level</a></li>
                                                <li class="treeview">
                                                    <a href="#">Multilevel</a>
                                                    <ul class="treeview-menu">
                                                        <li><a href="#">Level 2</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div id="treeview-checkable" class="treeview"><ul class="list-group"><li class="list-group-item node-treeview-checkable node-checked search-result" data-nodeid="0" style="color:#D9534F;background-color:undefined;"><span class="icon expand-icon glyphicon glyphicon-minus"></span><span class="icon check-icon glyphicon glyphicon-check"></span>Parent 1</li><li class="list-group-item node-treeview-checkable node-checked" data-nodeid="1" style="color:undefined;background-color:undefined;"><span class="indent"></span><span class="icon expand-icon glyphicon glyphicon-minus"></span><span class="icon check-icon glyphicon glyphicon-check"></span>Child 1</li><li class="list-group-item node-treeview-checkable node-checked" data-nodeid="2" style="color:undefined;background-color:undefined;"><span class="indent"></span><span class="indent"></span><span class="icon glyphicon"></span><span class="icon check-icon glyphicon glyphicon-check"></span>Grandchild 1</li><li class="list-group-item node-treeview-checkable node-checked" data-nodeid="3" style="color:undefined;background-color:undefined;"><span class="indent"></span><span class="indent"></span><span class="icon glyphicon"></span><span class="icon check-icon glyphicon glyphicon-check"></span>Grandchild 2</li><li class="list-group-item node-treeview-checkable node-checked" data-nodeid="4" style="color:undefined;background-color:undefined;"><span class="indent"></span><span class="icon glyphicon"></span><span class="icon check-icon glyphicon glyphicon-check"></span>Child 2</li><li class="list-group-item node-treeview-checkable node-checked" data-nodeid="5" style="color:undefined;background-color:undefined;"><span class="icon glyphicon"></span><span class="icon check-icon glyphicon glyphicon-check"></span>Parent 2</li><li class="list-group-item node-treeview-checkable" data-nodeid="6" style="color:undefined;background-color:undefined;"><span class="icon glyphicon"></span><span class="icon check-icon glyphicon glyphicon-unchecked"></span>Parent 3</li><li class="list-group-item node-treeview-checkable" data-nodeid="7" style="color:undefined;background-color:undefined;"><span class="icon glyphicon"></span><span class="icon check-icon glyphicon glyphicon-unchecked"></span>Parent 4</li><li class="list-group-item node-treeview-checkable" data-nodeid="8" style="color:undefined;background-color:undefined;"><span class="icon glyphicon"></span><span class="icon check-icon glyphicon glyphicon-unchecked"></span>Parent 5</li></ul></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div align="left">
                                @Html.ActionLink(" Cancelar", "Index", "PerfilXPagXMod", new { @class = "btn btn-danger btn-large fa fa-trash-alt" })
                                <button type="submit" name="guardar" id="guardar" class="btn btn-success btn-mae-grdr fa fa-check-circle">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        }
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/bootstrap-treeview.js"></script>

    @*@Scripts.Render("~/bundles/AdminLT")
        @Scripts.Render("~/bundles/AdminLT/plugins")*@
    <script>
        

        $(".select2bs4").select2();

        $('#IdCodModulo').change(function () {

            $.post('/PerfilXPagXMod/GetPagina', { pxm: $('#IdCodModulo').val() })
                .done(function (result) {
                    if (result) {
                        //var select = $("#IdCodCampo");
                        $("#IdCodCampo").empty();

                        $("#IdCodPerfil").empty();

                        $.each(result, function (index, itemData) {

                            if (itemData != true) {
                                debugger;


                                for (var i = 0; i < itemData.idPagina1.length; i++) {

                                    $("#IdCodCampo").prepend($('<option value="' + itemData.idPagina1[i].IdPagina + '">' + itemData.lista[i].IdPagina + "</option>", {

                                    }));
                                }

                                for (var i = 0; i < itemData.idPerfil.length; i++) {
                                    $("#IdCodPerfil").prepend($('<option value="' + itemData.idPerfil[i].IdPerfil + '">' + itemData.Perfil[i] + "</option>", {
                                    }));
                                }

                                for (var i = 0; i < itemData.objpag.length; i++) {



                                }


                            }
                        });
                    }
                }
                )
        });

    </script>
}

