@model BAL.Modelos.Configuracion.PerfilXPagXModModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel='stylesheet' href='~/Content/jsTree/themes/default/style.min.css'>


<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        color: #000000;
        background-color: #c5c5c533;
        border: 1px solid #5aa7ff;
    }
</style>

<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="~/Home/Dashboard">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Configuración</a></li>
                <li class="breadcrumb-item"><a href="#">Perfil x Página x Módulo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
        </nav>
    </div>
</div>

<div>
    <input type="hidden" name="Message" id="Message" value="@ViewBag.Message" />
    <input type="hidden" name="AlertType" id="AlertType" value="@ViewBag.AlertType" />
    <input type="hidden" name="ShowAlert" id="ShowAlert" value="@ViewBag.ShowAlert" />

    <input type="hidden" name="ShowMsg" id="ShowMsg" value="@ViewBag.ShowMsg" />
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="d-flex align-items-center text-primary" id="spinner" aria-hidden="true" style="visibility:hidden">
                    <strong>Cargando...</strong>
                    <div class="spinner-border ml-1 text-primary" role="status" aria-hidden="true"></div>
                </div>

                <div class="card bg-light mb-3" style="max-width: 100%;">
                    <div class="card-header bg-gradient-lightblue" style="text-align:center">
                        <div class="container">
                            <div class="row">

                                <div class="col">
                                    MODIFICAR PERFIL POR PÁGINA POR MÓDULOS
                                </div>

                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <div class="card-body">
                        <div class="col">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true)
                                        <div class="row">
                                            <div class="form-group col-sm-3">
                                                <h6>@Html.LabelFor(model => model.IdModulo, htmlAttributes: new { @class = "control-label col-md" })</h6>

                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-barss"></i></span>
                                                    @Html.DropDownListFor(model => model.IdModulo, ViewBag.ListaModulo as SelectList, new { @id = "IdCodModulo", @class = "form-control", @disabled = "disabled" })
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <h6>@Html.LabelFor(model => model.IdPerfil, htmlAttributes: new { @class = "control-label col-md" })</h6>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-barss"></i></span>
                                                    @Html.DropDownListFor(model => model.IdPerfil, ViewBag.ListaPerfil as SelectList, new { @id = "IdCodPerfil", @class = "form-control", @disabled = "disabled" })
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <h6>@Html.LabelFor(model => model.Estado, new { @class = "control-label col-sm" })</h6>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-barss"></i></span>
                                                    @Html.DropDownListFor(model => model.Estado, ViewBag.ListaEstado as SelectList, new { @id = "IdActivo", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Permisos -->
                                        <div class="card " style="margin-bottom:1px;">
                                            <a id="cardEncabezado" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionEncabezado" href="#collapseEncabezado" style="text-decoration:none" aria-expanded="true">
                                                <div class="accordion-headermenu">
                                                    MENU
                                                </div>
                                            </a>
                                            <div id="collapseEncabezado" class="collapse" role="tabpanel" data-parent="#accordionEncabezado">
                                                <div class="accordion" id="accordionEncabezado" style="margin-left:10px;margin-right:10px;">
                                                    <div class="card-body">
                                                        @*<input id="search-input" class="search-input" />*@
                                                        <div class="row-cols-3">
                                                            <div class="input-group rounded">
                                                                <input type="search" id="search-input" class="form-control rounded" placeholder="Buscar.." aria-label="Search" aria-describedby="search-addon" />
                                                                <span class="input-group-text border-0" id="search-addon">
                                                                    <i class="fas fa-search"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div id="jstree">
                                                            @*<ul>
                                                            <li data-jstree='{"icon":"fa fa-minus"}'>
                                                                Root node 1
                                                                <ul>
                                                                    <li id="child_node_1" data-jstree='{"icon":"fa fa-file"}'>Child node 1</li>
                                                                    <li data-jstree='{"icon":"fa fa-file"}'>Child node 2</li>
                                                                </ul>
                                                            </li>
                                                            <li data-jstree='{"icon":"fa fa-plus"}'>Root node 2</li>
                                                        </ul>*@
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div align="left">
                                                @Html.ActionLink(" Cancelar", "Index", "PerfilXPagXMod", new { @class = "btn btn-danger btn-large fa fa-trash-alt" })
                                                <button id="guardar" type="button" class="btn btn-success btn-mae-grdr fa fa-check-circle" onclick="Guardar()"> Guardar</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                @*<div align="left">
                                @Html.ActionLink(" Cancelar", "Index", "PerfilXPagXMod", new { @class = "btn btn-danger btn-large fa fa-trash-alt" })
                                <button type="submit" name="guardar" id="guardar" class="btn btn-success btn-mae-grdr fa fa-check-circle">
                                    Guardar
                                </button>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

    @section Scripts {
 j       <script src='~/Scripts/jsTree3/jstree.min.js'></script>

        <script>
            var perfil = "";
            $(function () {
                var loDatas = []; //[{ id: '33000', parent: '#', text: 'Configuración' }, { id: '33001', parent: '33000', text: 'Candidatos' }];
                perfil = $("#IdCodPerfil").val();

             $('#jstree').jstree({
                 "core": {
                     "multiple": true,
                     "animation": 0,
                     "themes": {
                         "variant": "large"                         
                     },
                     "check_callback": true,
                     'data': loDatas
                 },
                 "checkbox": {
                     "three_state": false,
                     "keep_selected_style": false
                 },
                 "plugins": [ "sort", "checkbox", "search"],
                 'sort': function (a, b) {
                     a1 = this.get_node(a);
                     b1 = this.get_node(b);
                     if (a1.icon == b1.icon) {
                         return (a1.text > b1.text) ? 1 : -1;
                     } else {
                         return (a1.icon > b1.icon) ? 1 : -1;
                     }
                 },
                 'search': {
                     "case_sensitive": false,
                     "show_only_matches": true
                 }
                 
             }).bind("loaded.jstree", function (event, data) {
                 $(this).jstree("open_all");
             });
             
             var to = false;
             $('#search-input').keyup(function () {
                 if (to) { clearTimeout(to); }
                 to = setTimeout(function () {
                     var v = $('#search-input').val();
                     $('#jstree').jstree(true).search(v);
                 }, 250);
             });


             $('#jstree').on("changed.jstree", function (e, data) {

                 if (data.selected.length > 0) {
                     // alert(data.selected);
                 }


             });


             $(".select2bs4").select2();
             
             
           
            document.getElementById("spinner").style.visibility = "visible";

            $.post('/PerfilXPagXMod/GetPagina', { pxm: $('#IdCodModulo').val() })
                .done(function (result) {
                    if (result) {
                        
                       // console.table(result);
                        $("#IdCodCampo").empty();

                       // $("#IdCodPerfil").empty();

                        $("#menu").empty();


                        var info = [];


                        $.each(result, function (index, itemData) {

                            if (itemData != true) {


                                for (var i = 0; i < itemData.idPagina1.length; i++) {

                                    $("#IdCodCampo").prepend($('<option value="' + itemData.idPagina1[i].IdPagina + '">' + itemData.lista[i].IdPagina + "</option>", {

                                    }));
                                }



                                for (var i = 0; i < itemData.Perfil.length; i++) {
                                    $("#IdCodPerfil").prepend($('<option value="' + itemData.Perfil[i].Id  + '">' + itemData.Perfil[i].Nombre + "</option>", {
                                    }));
                                }


                                //console.table(itemData.objpag);

                                if (itemData.objpag.length > 0) {
                                    //info.push({ "id": 0, "parent": '#', "text": "MENU", "icon": 'fa fa-bars', "disabled": true })
                                    for (var i = 0; i < itemData.objpag.length; i++) {
                                        info.push({ "id": itemData.objpag[i].IdPagina, "parent": (itemData.objpag[i].IdPaginaPadre == '' ? "#" : itemData.objpag[i].IdPaginaPadre), "text": itemData.objpag[i].Nombre, "icon":'fa fa-file'})
                                        /*info = info + "{id:'" + itemData.objpag[i].IdPagina + "', parent:'" + (itemData.objpag[i].IdPaginaPadre == '' ? '#' : itemData.objpag[i].IdPaginaPadre ) + "', text:'" + itemData.objpag[i].Nombre + "'},"*/
                                        
                                    }
                                    
                                }
                              
                                
                                setTimeout(function () {
                                    $('#jstree').jstree('open_all');
                                     CargarOpciones();
                                }, 500);


                                
                            }
                        });


                        var listinfo = info;

                        listarmenu(listinfo);
                        document.getElementById("spinner").style.visibility = "hidden";

                    }
                }
             )


            });           

            function listarmenu(listinfo) {

                $('#jstree').jstree(true).settings.core.data = listinfo;
                $('#jstree').jstree(true).refresh();
                $("#jstree").jstree("open_all");               
                $("#jstree").jstree("deselect_all");
                
            }

            function Guardar() {
            var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, timer: 5000 });
            debugger;

            if ($("#IdCodModulo").val() === "") {
                Toast.fire({
                    type: 'success',
                    icon: "warning",
                    title: ' Falta seleccionar el  módulo',
                    customClass: { popup: 'adjust', icon: 'warning' }
                });
                return;
            }
            if ($("#IdCodPerfil").val() === "") {
                Toast.fire({
                    type: 'success',
                    icon: "warning",
                    title: ' Falta seleccionar el perfil a asociar',
                    customClass: { popup: 'adjust', icon: 'warning' }
                });
                return;
            }

            var menuid = "";
            var submenuid = "";
            var arrayMenu = new Array();
            var arraySubmenu = new Array();
            var k = -1;

            for (var i = 0; i < $("#menu li.panel").length; i++) {
                menuid = $("#menu li.panel")[i].id;

                for (var j = 0; j < $("#m_" + menuid + " li").length; j++) {
                    submenuid = $("#m_" + menuid + " li")[j].id;
                    if ($("#m_" + menuid + " li input[type='checkbox']")[j].checked) {
                        k++;
                        arrayMenu[k] = menuid;
                        arraySubmenu[k] = submenuid;
                    }
                }
            }

            var objpxm = {
                idModulo: $("#IdCodModulo").val(),
                idPerfil: $("#IdCodPerfil").val()
            };
            var jsonpxm = JSON.stringify(objpxm);

            var objm = [];
            var selectedNodes = $('#jstree').jstree("get_selected", true);
            $.each(selectedNodes, function () {
                objm.push(this.id);
            });

            var jsonm = JSON.stringify(objm);

            if (objm.length === 0) {
                Toast.fire({
                    type: 'success',
                    icon: "warning",
                    title: ' Seleccione al menos una pagina',
                    customClass: { popup: 'adjust', icon: 'warning' }
                });
                return;
            }

            $.ajax({
                url: '@Url.Action("Ingresar", "PerfilXPagXMod")',
                data: {
                    perfilxpxmstr: jsonpxm,
                    menustr: jsonm
                },
                method: "GET",
                dataType: "text",
                async: true,
                beforeSend: function () {
                },
                success: function (result) {

                    switch (result) {
                        case "success":
                            window.location.href = "/PerfilXPagXMod/Index";
                            break;
                        case "errorgrabando":
                            Toast.fire({
                                type: 'success',
                                icon: "warning",
                                title: ' Error grabando. Intente de nuevo',
                                customClass: { popup: 'adjust', icon: 'warning' }
                            });

                            break;
                        case "errorsesion":
                            window.location.href = "/Home/LogIn";
                            break;
                    }
                },
                error: function () {
                    window.location.href = "/Home/LogIn";
                }
            });
            }

            function CargarOpciones() {                          

                var vmodulo = $("#IdCodModulo").val();
                var vperfil = perfil;
                
                 $.ajax({
                    url: '@Url.Action("GetPaginasAsignadas", "PerfilXPagXMod")',
                    data: {
                        pmodulo: vmodulo,
                        pperfil : vperfil
                    },
                    method: "GET",
                    dataType: "text",
                    async: true,
                    beforeSend: function () {
                    },
                    success: function (result) {
                     
                        if (result != "") {
                            var dato = JSON.parse(result);
                           
                            for (var i = 0; i < dato.pagina.length; i++) {
                                
                               // console.log(dato.pagina[i].IdPagina);

                                // Tree
                                var tree = $("#jstree");
                                // IE
                                tree.jstree(true).check_node(dato.pagina[i].IdPagina);
                                // Chrome or Firefox
                                //tree.on("loaded.jstree", function (e, data) {
                                //    tree.jstree(true).check_node(dato.pagina[i].IdPagina);
                                //}).jstree();

                            }


                        }
                        
                   
                    },
                    error: function () {
                        window.location.href = "/Home/LogIn";
                    }
                });

                let element = document.getElementById("IdCodPerfil");
                element.value = vperfil;
                //abrimos el arbol de los menus
                $("#collapseEncabezado").collapse("show");
                
                document.getElementById("IdActivo").selectedIndex = 1;
             }

        </script>

    }

