@model BAL.Modelos.Configuracion.PaginaModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Configuración</a></li>
                <li class="breadcrumb-item"><a href="#">Pagina</a></li>
                <li class="breadcrumb-item active" aria-current="page">Crear</li>
            </ol>
        </nav>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Paginas", FormMethod.Post, new { id = "id" }))
        {
            @Html.AntiForgeryToken()

            <div class="card bg-light mb-3" style="max-width: 100%;">
                <div class="card-header bg-gradient-lightblue" style="text-align:center">
                    <div class="container">
                        <div class="row">

                            <div class="col">
                                INGRESO DE PÁGINA
                            </div>

                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="card-body">
                    <div class="col">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="form-group col-sm-2">
                                    <h6>@Html.LabelFor(model => model.Id, new { @class = "control-label col-sm" })</h6>

                                    <div class="input-group margin-bottom-sm">
                                        <span class="input-group-addon"><i class="fa fa-inf fa-2x" aria-hidden="true"></i></span>
                                        <input type="number" placeholder="Identificador página" class=" form-control " id="Id" name="Id" value="@Html.DisplayFor(model => model.Id)" />
                                    </div>
                                    @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                </div>
                                <div class="form-group col-sm">
                                    <h6>@Html.LabelFor(model => model.Mensaje, new { @class = "control-label col-sm" })</h6>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-id-badg fa-2x"></i></span>
                                        <input type="text" placeholder="Nombre a visualizar" class="form-control" id="Mensaje" name="Mensaje" value="@Html.DisplayFor(model => model.Mensaje)" />
                                    </div>
                                    @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="form-group col-sm">
                                    <h6>@Html.LabelFor(model => model.Accion, new { @class = "control-label col-sm" })</h6>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-bar fa-2x"></i></span>
                                        <input type="text" placeholder="Ejm: Index" class="form-control" id="Accion" name="Accion" value="@Html.DisplayFor(model => model.Accion)" />
                                    </div>
                                    @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                </div>
                                <div class="form-group col-sm">
                                    <h6>@Html.LabelFor(model => model.Controlador, new { @class = "control-label col-sm" })</h6>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-bar fa-2x"></i></span>
                                        <input type="text" placeholder="Ejm: /Controlador/Index " class="form-control" id="Controlador" name="Controlador" value="@Html.DisplayFor(model => model.Controlador)" />
                                    </div>
                                    @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                </div>
                            </div>                           
                            <div align="left">
                                @Html.ActionLink(" Cancelar", "Index", "Paginas", new { @class = "btn btn-danger btn-large fa fa-trash-alt" })
                                <button type="submit" name="Create" id="Create" class="btn btn-success btn-mae-grdr fa fa-check-circle">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
