@model Tuple<BAL.Modelos.UsuairoModel, IEnumerable<BAL.Modelos.Configuracion.ModuloModel>>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .accordion-headermenu {
        color: white;
        background-color: #546E7A;
        border-color: #EEEEEE;
        height: 37px;
        line-height: 37px;
        font-weight: 500;
        padding-left: 15px
    }

    .accordion-headersubmenu {
        color: white;
        background-color: #78909C;
        border-color: #EEEEEE;
        height: 37px;
        line-height: 37px;
        font-weight: 500;
        padding-left: 15px
    }

    .modal-open {
        padding: 0 !important;
        overflow-y: auto;
    }
</style>


<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="~/Home/Dashboard">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Configuración</a></li>
                <li class="breadcrumb-item"><a href="#">Usuario</a></li>
                <li class="breadcrumb-item active" aria-current="page">Crear</li>
            </ol>
        </nav>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Usuarios", FormMethod.Post, new { id = "idPersona" }))
        {
            @Html.AntiForgeryToken()

            <div class="card bg-light mb-3" style="max-width: 100%;">
                <div class="card-header bg-gradient-lightblue" style="text-align:center">
                    <div class="container">
                        <div class="row">

                            <div class="col">
                                INGRESO DE USUARIO
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="row">

                                <div class="form-group col-sm-3">
                                    <h6>@Html.LabelFor(Tuple => Tuple.Item1.idUsuairo, new { @class = "control-label col-sm" })</h6>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-address-card"></i></div>
                                        </div>
                                        <input type="text" class="form-control" id="idpersona" name="idpersona" value="@Html.DisplayFor(Tuple => Tuple.Item1.idUsuairo)" />
                                        <button id="btnBuscarPersona" type="button" class="btn btn-outline-success btn-xs tmn " data-toggle="modal" data-target="#personaModal">
                                            <i class="fa fa-search-plus fa-2x"></i>
                                        </button>

                                    </div>
                                    <!-- Button trigger modal -->
                                    @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                </div>
                                <div class="form-group col-sm-4">
                                    <h6>@Html.Label("Nombre", new { @class = "control-label col-sm" })</h6>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-user-alt"></i></div>
                                        </div>
                                        <input type="text" class="form-control" id="nombrePersona" name="Login" value="" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <h6>@Html.LabelFor(Tuple => Tuple.Item1.Login, new { @class = "control-label col-sm" })</h6>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-user-alt"></i></div>
                                        </div>
                                        <input type="text" class="form-control" id="Login" name="Login" value="" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <h6>@Html.LabelFor(Tuple => Tuple.Item1.Password, new { @class = "control-label col-sm" })</h6>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-key"></i></div>
                                        </div>
                                        <input type="password" class="form-control" id="Password" name="Password" value="" />
                                    </div>
                                </div>
                            </div>

                            <!-- Permisos -->
                            <div class="card" style="margin-bottom:1px;">
                                <a id="cardEncabezado" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionEncabezado" href="#collapseEncabezado" style="text-decoration:none">
                                    <div class="accordion-headermenu">
                                        Permisos
                                    </div>
                                </a>
                                <div id="collapseEncabezado" class="collapsing hide" role="tabpanel" data-parent="#accordionEncabezado">
                                    <div class="accordion" id="accordionEncabezado" style="margin-left:10px;margin-right:10px;">
                                        <div class="card-body">
                                            <br />
                                            <ul id="menu">
                                                @if (Model.Item2.Count() > 0)
                                                {
                                                    var contador = Model.Item2.Count();
                                                    var i = 0;
                                                    var j = 0;
                                                    var k = 0;

                                                    var menuid = "";
                                                    var seleccionar = "";

                                                    //Model.Item2.ToArray()[0].Id
                                                    //Model.Item2.ToArray()[0].Nombre
                                                    //Model.Item2.ToArray()[0].tipousuario.Id
                                                    //Model.Item2.ToArray()[0].tipousuario.Nombre
                                                    //Model.Item2.ToArray()[0].tipousuario.Estado

                                                    do
                                                    {
                                                        menuid = @Model.Item2.ToArray()[i].Id;
                                                        j = i;
                                                        seleccionar = "No";

                                                        <li id=@(menuid) class="panel" style="list-style:none">
                                                            @do
                                                            {
                                                                if (menuid == @Model.Item2.ToArray()[k].Id)
                                                                {
                                                                    if (Model.Item2.ToArray()[k].tipousuario.Estado != 0)
                                                                    {
                                                                        seleccionar = "Si";
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    break;
                                                                }
                                                                k++;
                                                            } while (k < contador);

                                                            <a class="nav nav-list" data-toggle="collapse" data-parent="#menu" href=@("#m_" + menuid) style="text-decoration:none">
                                                                @if (seleccionar == "Si")
                                                                {
                                                                    <input id=@("inputm_" + menuid) type="checkbox" checked="checked" class="nav nav-list" style="width:18px;height:18px;"><label style="line-height:18px;color:black">&nbsp;@Model.Item2.ToArray()[i].Nombre</label>
                                                                }
                                                                else
                                                                {
                                                                    <input id=@("inputm_" + menuid) type="checkbox" class="nav nav-list" style="width:18px;height:18px;"><label style="line-height:18px;color:black">&nbsp;@Model.Item2.ToArray()[i].Nombre</label>
                                                                }
                                                            </a>
                                                            <ul id=@("m_" + menuid) class="collapse" style="list-style:none" onchange="ValidarPermisos('@("inputm_" + menuid)' , this.id)">
                                                                @do
                                                                {
                                                                    if (menuid == @Model.Item2.ToArray()[j].Id)
                                                                    {
                                                                        if (Model.Item2.ToArray()[j].tipousuario.Estado == 0)
                                                                        {
                                                                            if (seleccionar == "Si")
                                                                            {
                                                                                <li id=@(Model.Item2.ToArray()[j].tipousuario.Id)><input type="checkbox" style="width:18px;height:18px;" disabled><label style="line-height:18px; position:absolute;">&nbsp;@Model.Item2.ToArray()[j].tipousuario.Nombre</label></li>
                                                                            }
                                                                            else
                                                                            {
                                                                                <li id=@(Model.Item2.ToArray()[j].tipousuario.Id)><input type="checkbox" style="width:18px;height:18px;"><label style="line-height:18px; position:absolute;">&nbsp;@Model.Item2.ToArray()[j].tipousuario.Nombre</label></li>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <li id=@(Model.Item2.ToArray()[j].tipousuario.Id)><input type="checkbox" checked="checked" style="width:18px;height:18px;"><label style="line-height:18px; position:absolute;">&nbsp;@Model.Item2.ToArray()[j].tipousuario.Nombre</label></li>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        break;
                                                                    }
                                                                    j++;
                                                                } while (j < contador);
                                                            </ul>
                                                        </li>
                                                        i = j;
                                                    } while (i < contador);
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div align="left">
                                @Html.ActionLink(" Cancelar", "Index", "Usuarios", new { @class = "btn btn-danger btn-large fa fa-trash-alt" })
                                @*<button type="submit" name="guardar" id="guardar" class="btn btn-success btn-mae-grdr fa fa-check-circle">
                                    Guardar
                                </button>*@
                                <button id="guardar" type="button" class="btn btn-success btn-mae-grdr fa fa-check-circle" onclick="Guardar()"> Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="personaModal" tabindex="-1" role="dialog" aria-labelledby="personaModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personaModalLabel">Busqueda Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content">
                    cargando..
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>


@section  scripts
{
    <script src="~/Scripts/Configuracion/ConsultaPersona.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function Limpiar() {
            document.getElementById("dato").value = "";
            buscar();
        };

        function AsignarIdentificacion(idetificadion, nombre, usuario) {
            $("#idpersona").val("");
            $("#nombrePersona").val("");
            $("#Password").val("");
            $("#Login").val("");

            document.getElementById("idpersona").value = idetificadion;
            document.getElementById("nombrePersona").value = nombre;     
            document.getElementById("Login").value = usuario;     
            document.getElementById("Password").value = idetificadion;
            $('#personaModal').modal("hide");

           
        };

        //busqueda por cedula
        function Buscar() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("dato");
            filter = input.value.toUpperCase();
            table = document.getElementById("ListaDatos");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }

        }
        //busqueda por nombre
        function Buscar2() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("dato2");
            filter = input.value.toUpperCase();
            table = document.getElementById("ListaDatos");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }

        }

        function ValidarPermisos(menu, submenu) {
            if ($("#" + submenu + " li input[type='checkbox']:checked").length == 1) {
                $("#" + menu).prop('checked', true);
                $("#" + submenu + " input[type=checkbox]").not(':checked').prop('disabled', true);
            } else {
                $("#" + menu).prop('checked', false);
                $("#" + submenu + " input[type=checkbox]").prop('disabled', false);
            }
        }

        function Guardar() {
            var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, timer: 5000 });

            if ($("#nombrePersona").val() === "") {
                Toast.fire({
                    type: 'success',
                    icon: "warning",
                    title: ' Falta el nombre del usuario.  Seleccione usuario de la lista',
                    customClass: { popup: 'adjust', icon: 'warning' }
                });
               return;
            }
            if ($("#Login").val() === "") {
                Toast.fire({
                    type: 'success',
                    icon: "warning",
                    title: ' Falta el usuario',
                    customClass: { popup: 'adjust', icon: 'warning' }
                });
                return;
            }
            if ($("#Password").val() === "") {
                Toast.fire({
                    type: 'success',
                    icon: "warning",
                    title: ' Falta la contraseña',
                    customClass: { popup: 'adjust', icon: 'warning' }
                });
                return;
            }

            var menuid = "";
            var submenuid = "";
            var arrayModulos = new Array();
            var arrayPerfiles = new Array();
            var k = -1;

            for (var i = 0; i < $("#menu li.panel").length; i++) {
                menuid = $("#menu li.panel")[i].id;

                for (var j = 0; j < $("#m_" + menuid + " li").length; j++) {
                    submenuid = $("#m_" + menuid + " li")[j].id;
                    if ($("#m_" + menuid + " li input[type='checkbox']")[j].checked) {
                        k++;
                        arrayModulos[k] = menuid;
                        arrayPerfiles[k] = submenuid;
                    }
                }
            }

            var obju = {
                login: $("#Login").val(),
                password: $("#Password").val(),
                bhabilitado: $("#Habilitado").val(),
                idUsuairo: $("#idUsuairo").val(),
                idpersona: $("#idpersona").val()
            };
            var jsonu = JSON.stringify(obju);

            var objm = [];
            for (var i = 0; i < arrayModulos.length; i++) {
                objm.push({ "idmodulo": arrayModulos[i], "idperfil": arrayPerfiles[i] });
            };
            var jsonm = JSON.stringify(objm);

            if (objm.length === 0) {
                Toast.fire({
                    type: 'success',
                    icon: "warning",
                    title: ' Seleccione los permisos',
                    customClass: { popup: 'adjust', icon: 'warning' }
                });
                return;
            }

            $.ajax({
                url: '@Url.Action("Ingresar", "Usuarios")',
                data: {
                    usuariostr: jsonu,
                    modulosstr: jsonm
                },
                method: "GET",
                dataType: "text",
                async: true,
                beforeSend: function () {
                },
                success: function (result) {
                    switch (result) {
                        case "success":
                            window.location.href = "/Usuarios/Index";
                            break;
                        case "errorgrabando":
                            Toast.fire({
                                type: 'success',
                                icon: "warning",
                                title: ' Error grabando. Intente de nuevo',
                                customClass: { popup: 'adjust', icon: 'warning' }
                            });

                            break;
                        case "errorsesion":
                            window.location.href = "/Home/LogIn";
                            break;
                    }
                },
                error: function () {
                    window.location.href = "/Home/LogIn";
                }
            });
        }

    </script>
}