@model BAL.Modelos.Configuracion.PerfilXModuloModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="~/Home/Dashboard">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Configuración</a></li>
                <li class="breadcrumb-item"><a href="#">Perfil por Módulo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Eliminar</li>
            </ol>
        </nav>
    </div>
</div>

<div>
    <input type="hidden" name="Message" id="Message" value="@ViewBag.Message" />
    <input type="hidden" name="AlertType" id="AlertType" value="@ViewBag.AlertType" />
    <input type="hidden" name="ShowAlert" id="ShowAlert" value="@ViewBag.ShowAlert" />

    <input type="hidden" name="ShowMsg" id="ShowMsg" value="@ViewBag.ShowMsg" />
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="card bg-light mb-3" style="max-width: 100%;">
                    <div class="card-header bg-gradient-lightblue" style="text-align:center">
                        <div class="container">
                            <div class="row">

                                <div class="col">
                                    ELIMINAR PERFIL POR MÓDULO
                                </div>

                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <div class="card-body">
                        <div class="col">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true)

                                        <div class="row">
                                            <div class="form-group col-sm-1">
                                                <h6>@Html.LabelFor(model => model.Id, new { @class = "control-label col-sm" })</h6>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-id-badges"></i></span>
                                                    <input type="text" disabled class="form-control" id="Id" name="ID" value="@Html.DisplayFor(model => model.Id)" />
                                                </div>
                                                @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                            </div>
                                        </div>
                                       
                                        <div class="row">
                                            <div class="form-group col-sm">
                                                <h6>@Html.LabelFor(model => model.IdModulo, htmlAttributes: new { @class = "control-label col-md-2" })</h6>

                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-barss"></i></span>
                                                    @*<input type="text" class="form-control" id="IdModulo" name="IdModulo" value="@Html.DisplayFor(model => model.IdModulo)" />*@
                                                    @Html.DropDownListFor(model => model.IdModulo, ViewBag.ListaModulo as SelectList, new { @id = "Id", @class = "form-control", @disabled = "disabled" })
                                                </div>
                                                @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                            </div>
                                            <div class="form-group col-sm">
                                                <h6>@Html.LabelFor(model => model.IdPerfil, htmlAttributes: new { @class = "control-label col-md-2" })</h6>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-barss"></i></span>
                                                    @* @Html.DropDownListFor(x => x.IdPadre, (IEnumerable<SelectListItem>)ViewBag.ListaMenuPadre, new { @class = "form-control" })*@
                                                    @Html.DropDownListFor(model => model.IdPerfil, ViewBag.ListaPerfil as SelectList, new { @id = "Id", @class = "form-control", @disabled = "disabled" })
                                                    @* <input type="text" class="form-control" id="IdPadre" name="IdPadre" value="@Html.DisplayFor(model => model.IdPadre)" />*@
                                                </div>
                                                @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <h6>@Html.LabelFor(model => model.Estado, new { @class = "control-label col-sm" })</h6>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-barss"></i></span>
                                                    @* @Html.DropDownListFor(x => x.IdPadre, (IEnumerable<SelectListItem>)ViewBag.ListaMenuPadre, new { @class = "form-control" })*@
                                                    @Html.DropDownListFor(model => model.Estado, ViewBag.ListaEstado as SelectList, new { @id = "Id", @class = "form-control", @disabled = "disabled"})
                                                    @* <input type="text" class="form-control" id="IdPadre" name="IdPadre" value="@Html.DisplayFor(model => model.IdPadre)" />*@
                                                </div>
                                                @*<div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                                                    <select name="Estado" id="Estado" class="form-control selectpicker">
                                                        <option selected value="1" @(Model.Estado.Equals("1") ? "selected" : "")>Activo</option>
                                                        <option value="0" @(Model.Estado.Equals("0") ? "selected" : "")>Inactivo</option>
                                                    </select>
                                                </div>*@
                                                @*@Html.ValidationMessageFor(model => model.Borrado)*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div align="left">
                                    @Html.ActionLink(" Cancelar", "Index", "PerfilXModulos", new { @class = "btn btn-danger btn-large fa fa-trash-alt" })
                                    <button type="submit" name="Eliminar" id="Delete" class="btn btn-success btn-mae-grdr fa fa-check-circle">
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

