@model BAL.Modelos.Configuracion.BotonesModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Configuración</a></li>
                <li class="breadcrumb-item"><a href="#">Boton</a></li>
                <li class="breadcrumb-item active" aria-current="page">Crear</li>
            </ol>
        </nav>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Botones", FormMethod.Post, new { id = "id" }))
        {
            @Html.AntiForgeryToken()

            <div class="card bg-light mb-3" style="max-width: 100%;">
                <div class="card-header bg-gradient-gray" style="text-align:center">
                    <div class="container">
                        <div class="row">

                            <div class="col">
                                INGRESO DE BOTÓN
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="row">

                                <div class="form-group col-sm-4">
                                    <h6>@Html.LabelFor(model => model.Nombre, new { @class = "control-label col-sm" })</h6>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-id-badges"></i></span>
                                        <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Html.DisplayFor(model => model.Nombre)" />
                                    </div>
                                    @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <h6>@Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-sm" })</h6>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-barss"></i></span>
                                        <input type="text" class="form-control" id="Descripcion" name="Descripcion" value="@Html.DisplayFor(model => model.Nombre)" />
                                    </div>
                                    @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                </div>
                            </div>

                            <div align="left">
                                @Html.ActionLink(" Cancelar", "Index", "Boton", new { @class = "btn btn-danger btn-large fa fa-trash-alt fa-2x" })
                                <button type="submit" name="guardar" id="guardar" class="btn btn-success btn-mae-grdr fa fa-check-circle fa-2x">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        }
    </div>
</div>
