@model BAL.Modelos.Configuracion.MenuModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Configuración</a></li>
                <li class="breadcrumb-item"><a href="#">Menu</a></li>
                <li class="breadcrumb-item active" aria-current="page">Eliminar</li>
            </ol>
        </nav>
    </div>
</div>

<div>
    <input type="hidden" name="Message" id="Message" value="@ViewBag.Message" />
    <input type="hidden" name="AlertType" id="AlertType" value="@ViewBag.AlertType" />
    <input type="hidden" name="ShowAlert" id="ShowAlert" value="@ViewBag.ShowAlert" />

    <input type="hidden" name="ShowMsg" id="ShowMsg" value="@ViewBag.ShowMsg" />
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="card bg-light mb-3" style="max-width: 100%;">
                    <div class="card-header bg-gradient-lightblue" style="text-align:center">
                        <div class="container">
                            <div class="row">

                                <div class="col">
                                    ELIMINAR ITEM DE MENÚ
                                </div>

                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <div class="card-body">
                        <div class="col">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true)

                                        <div class="row">                                           
                                            <div class="form-group col-sm-2">
                                                <h6>@Html.LabelFor(model => model.Imagen, new { @class = "control-label col-sm" })</h6>
                                                @if (!String.IsNullOrEmpty(Model.Imagen))
                                                {
                                                    <div class="input-group" style="">
                                                        <img class="profile-user-img img-fluid img-circle" src="@Html.DisplayFor(model => model.Imagen)" />
                                                        @*<input disabled type="text" class="form-control" id="Imagen" name="Imagen" value="@nombreImg" />*@

                                                    </div>

                                                }

                                            </div>
                                            <div class="form-group col-sm-4">
                                                <h6>@Html.LabelFor(model => model.Nombre, new { @class = "control-label col-sm" })</h6>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-id-badges"></i></span>
                                                    <input type="text" disabled class="form-control" id="Nombre" name="Nombre" value="@Html.DisplayFor(model => model.Nombre)" />
                                                </div>
                                                @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <h6>@Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-sm" })</h6>
                                                <div class="input-group">
                                                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @placeholder = "Detalle menú...", @rows = 3, @disabled = "disabled" })

                                                </div>
                                                @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="card text-center">
                                                <div class="card-header " style="background-color:#747c84 ;color:white">
                                                    CONFIGURACIÓN
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="form-group col-sm disabled">
                                                            <h6>@Html.Label("Modulo", new { @class = "control-label col-sm" })</h6>

                                                            <div class="input-group" >
                                                                <span class="input-group-addon"><i class="fa fa-barss"></i></span>
                                                                @*<input type="text" class="form-control" id="IdModulo" name="IdModulo" value="@Html.DisplayFor(model => model.IdModulo)" />*@
                                                                @Html.DropDownListFor(model => model.IdModulo, ViewBag.ListaModulo as SelectList, new { @id = "Id", @class = "form-control ", @disabled = "disabled" })
                                                            </div>
                                                            @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                                        </div>
                                                        <div class="form-group col-sm disabled">
                                                            <h6>@Html.Label("Menú Padre", new { @class = "control-label col-sm" })</h6>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-barss"></i></span>
                                                                @* @Html.DropDownListFor(x => x.IdPadre, (IEnumerable<SelectListItem>)ViewBag.ListaMenuPadre, new { @class = "form-control" })*@
                                                                @Html.DropDownListFor(model => model.IdPadre, ViewBag.ListaMenuPadre as SelectList, new { @id = "Id", @class = "form-control", @disabled = "disabled" })
                                                                @* <input type="text" class="form-control" id="IdPadre" name="IdPadre" value="@Html.DisplayFor(model => model.IdPadre)" />*@
                                                            </div>
                                                            @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                                        </div>
                                                        <div class="form-group col-sm disabled">
                                                            <h6>@Html.Label("Nombre Página", new { @class = "control-label col-sm" })</h6>

                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-barss"></i></span>
                                                                @*<input type="text" class="form-control" id="IdPagina" name="IdPagina" value="@Html.DisplayFor(model => model.IdPagina)" />*@
                                                                @Html.DropDownListFor(model => model.IdPagina, ViewBag.ListaPagina as SelectList, new { @id = "Id", @class = "form-control", @disabled = "disabled" })
                                                            </div>
                                                            @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                                        </div>
                                                        <div class="form-group col-sm disabled">
                                                            <h6>@Html.LabelFor(model => model.Ordenamiento, new { @class = "control-label col-sm" })</h6>

                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-barss"></i></span>
                                                                <input type="number" disabled class="form-control" id="Ordenamiento" name="Ordenamiento" value="@Html.DisplayFor(model => model.Ordenamiento)" />
                                                            </div>
                                                            @*@Html.ValidationMessageFor(model => model.Nombre)*@
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="card-footer text-muted">

                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                                <div align="left">
                                    @Html.ActionLink(" Cancelar", "Index", "Menu", new { @class = "btn btn-danger btn-large fa fa-trash-alt" })
                                    <button type="submit" name="Eliminar" id="Delete" class="btn btn-success btn-mae-grdr fa fa-check-circle">
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
